@import url("http://fontawesome.io/assets/font-awesome/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
html, body {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  background-color: #4771C9;
  margin: 0;
  padding: 0; }

/*CSS Modal*/
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #4771C9;
  margin: 0 10%;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  width: 80%;
  /* Could be more or less, depending on screen size */
  height: 90%;
  overflow: auto; }

/* The Close Button */
.close {
  color: #FFFFFF;
  font-size: 50px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  font-weight: 100;
  width: 100%;
  height: 5%; }

.close:hover,
.close:focus {
  color: #4771C9;
  text-decoration: none;
  cursor: pointer;
  font-weight: 300; }

/*CSS Modal*/
/* The Modal Project(background) */
.modalProject {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */ }

/* Modal Content/Box */
#modal-contentProject {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  width: 80%;
  /* Could be more or less, depending on screen size */ }

/* The Close Button */
.closeProject {
  color: #ffffff;
  /*float: right;*/
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
  margin-top: 50px; }

.closeProject:hover,
.closeProject:focus {
  color: whtie;
  text-decoration: none;
  cursor: pointer; }

#img1 {
  width: 100%;
  margin: 0 auto;
  border-radius: 3px; }
  #img1 img {
    width: 100%; }

.profileimage {
  float: left;
  margin-left: 20px; }

.profileimage img {
  border-radius: 50%; }

.project-text {
  width: 700px;
  margin-left: 90px;
  margin-top: 20px; }

.designerName {
  font-size: 25px; }

#project-name {
  font-size: 25px; }

#like-num {
  position: relative;
  bottom: 15px; }

#view-num {
  position: relative;
  bottom: 15px; }

#description {
  margin: 40px;
  margin-left: 90px;
  font-weight: 100;
  line-height: 150%; }

.header {
  background-color: #3E62B0;
  font-family: 'Montserrat', sans-serif;
  color: #474747;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 100px; }
  .header .header-nav {
    display: flex;
    align-items: center;
    margin-left: 20px; }
    .header .header-nav .logo {
      color: #FFFFFF;
      text-decoration: none;
      font-family: 'Droid Sans', sans-serif;
      text-transform: uppercase;
      font-size: 30px; }
  .header .header-menu {
    width: 600px;
    display: flex;
    align-items: center; }
    .header .header-menu ul {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .header .header-menu ul li {
        list-style-type: none; }
        .header .header-menu ul li a {
          text-decoration: none;
          color: #FFFFFF;
          text-transform: uppercase;
          font-weight: 100; }
          .header .header-menu ul li a:hover {
            color: #000000; }

.home {
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .home .home-text {
    width: 80%; }
    .home .home-text .home-icon {
      font-size: 400px;
      opacity: 0.1;
      display: flex;
      justify-content: center;
      margin-top: 50px; }
    .home .home-text .home-description {
      margin-top: -230px;
      font-weight: 100;
      font-size: 40px;
      display: flex;
      justify-content: center;
      text-align: center; }
    .home .home-text .home-team_tittle {
      font-weight: 100;
      font-size: 80px;
      margin: 300px 0 0 0;
      display: flex;
      justify-content: center; }
  .home .profile {
    height: 300px;
    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .home .profile .profile-pic {
      width: 300px;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background-color: #FFFFFF;
      flex-direction: column;
      border-radius: 2px; }
      .home .profile .profile-pic:hover {
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
        transition: box-shadow 0.3s ease-in-out;
        cursor: pointer; }
      .home .profile .profile-pic .profile-card {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFF;
        border: 0.1px solid #474747;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px; }
      .home .profile .profile-pic img {
        width: 70%;
        height: auto;
        margin-top: 10px; }
      .home .profile .profile-pic .img-circle {
        border-radius: 50%; }
      .home .profile .profile-pic .profile-name {
        color: #000000;
        font-weight: 200;
        font-size: 25px;
        margin: 5px 0 0 0; }
      .home .profile .profile-pic .profile-desc {
        color: #000000;
        font-weight: 100;
        font-size: 15px;
        margin: 0;
        text-align: center; }

#behanceUsers {
  width: 80%; }

.projects {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 2px;
  justify-content: space-around;
  align-items: center; }
  .projects .profile-project_single {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .projects .profile-project_single:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      border-radius: 2px; }
    .projects .profile-project_single .project-img {
      width: 100%; }
    .projects .profile-project_single .project-txt {
      color: #4771C9;
      font-weight: 100;
      text-transform: lowercase;
      font-size: 15px; }

#whatwedo {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: center; }
  #whatwedo .information {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 80%; }
    #whatwedo .information h2 {
      display: flex;
      align-self: center;
      font-weight: 200;
      font-size: 50px; }
    #whatwedo .information h3 {
      font-weight: 200;
      font-size: 2em; }

.modal-content {
  height: 90%; }

.top-bar {
  background-color: #3E62B0;
  width: 100%;
  height: 150px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF; }

.profile2-pic {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 100%;
  align-items: center; }
  .profile2-pic img {
    height: 90%;
    margin: 20px;
    border-radius: 50%; }

.profile2-text {
  color: white;
  justify-content: flex-start;
  align-self: center;
  float: left; }
  .profile2-text h2 {
    padding-left: 10px;
    display: inline;
    text-align: center;
    vertical-align: top;
    color: white;
    font-weight: 400; }
  .profile2-text h3 {
    text-align: right;
    margin: auto;
    vertical-align: top;
    font-weight: 200;
    padding-left: 10px; }

.views-likes {
  display: flex;
  flex-direction: row;
  align-items: center; }

.views, .likes {
  height: 100px;
  width: 66px;
  border: 1px white solid;
  margin: 9px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF; }

.views-icon, .likes-icon {
  font-size: 40px;
  margin-top: 10px; }

h4 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 100; }

.content {
  width: 100%;
  background-color: #4771C9; }

.content-text {
  padding-top: 40px;
  width: 40%;
  color: #FFFFFF;
  float: left; }
  .content-text h2 {
    padding-left: 20px;
    margin: 0;
    font-weight: 200; }
  .content-text p {
    padding-left: 20px;
    font-weight: 100; }

.display-pic img {
  width: 90px;
  height: 90px;
  margin: auto;
  margin-left: 20px;
  margin-top: 14px;
  border-radius: 200px; }

#chart {
  width: 60%;
  float: right;
  margin-top: 50px; }

.social-icons {
  font-size: 44px;
  justify-content: flex-start;
  align-self: center; }
  .social-icons i {
    color: white; }

/*# sourceMappingURL=style.css.map */
